.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border: 2px solid #40a008;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.chatbot-header {
  background-color: #07ac23;
  color: white;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.chatbot-header h2{
 color: #e0f7fa;
}

.chatbot-messages {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.message {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.from-user {
  background-color: #f1f1f1;
  text-align: right;
}

.from-bot {
  background-color: #e0f7fa;
}

.chatbot-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chatbot-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chatbot-input button {
  background-color: #057226ee;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.chatbot-input button:hover {
  background-color: #0056b3;
}
